{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
{% endblock %}

<header class="header-block sticky-top">
  <div class="header sticky-top">
      <nav class="lists">
        <div class="logo-block">
          <img src="{% static "/assests/logo.jpg" %}" alt="Logo" class="logo">
          <h1>TinyToes</h1>
        </div>
          <div class="nav-wrapper">
              <div class="items">
                  <a href="{% url "index" %}" class="item">Home</a>
                  <a href="{% url 'index' %}#carding" class="item">Our Services</a>
                  <a href="{% url "about" %}"  class="item">About Us</a>
              </div>
          </div>
          <div class="cta-container">
            <a href="{% url "login" %}" class="cta-button">Login</a>
        </div>
      </nav>
  </div>
</header>