{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
{% endblock %}

<header>
  <div class="header">
      <nav class="lists">
          <img src="/assests/Baby birth1.gif" alt="Logo" class="logo">
          <a href="#" class="item">Home</a>
          <a href="#" class="item">Contacts</a>
          <a href="#carding" class="item">Our Services</a>
          <a href="#" class="item">About Us</a>
          <a class="cta-button" href="{% url 'get_naani' %}">Get a Nana</a>
      </nav>
  </div>
</header>